{% extends 'base-backend.html.twig' %}

{% block title %}Newletter{% endblock %}

{% block body %}
    <h1>Newletter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newletter.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ newletter.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ newletter.updatedAt ? newletter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ newletter.titre }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ newletter.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_newletter_index') }}">back to list</a>

    <a href="{{ path('app_admin_newletter_edit', {'id': newletter.id}) }}">edit</a>

    {{ include('admin_newletter/_delete_form.html.twig') }}
{% endblock %}
