{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('css/team.css')}}">

{% endblock %}

{% block body %}

<main class="container-fluid ">
        <h1 class="text-center my-5 ">{{ laTeam.titre }}</h1>


        <div class="row justify-content-center ">
            <img style="max-width:900px;" class="img-fluid my-3" src="{{ asset ('images/team/') ~ laTeam.imageName}}">
        </div>

        <div class="my-5 mx-4 text-center marge-mobile">
            {{ laTeam.presentation|raw}}
        </div>

        <img style="width:100%;" class="img-fluid mb-5 margin-bottom" src="{{ asset ('images/team/') ~ laTeam.imageName2}}">


        <div class="row justify-content-center">
            <img style="width: 14rem;" class="my-5 image3 marge-mobile logo" src="{{ asset ('images/team/') ~ laTeam.imageName3}}">
        </div>

        <div class="row my-5 justify-content-center mx-auto">

			{% for equipe in laTeam.equipe %}
			<div class="card col-12 col-md-3 col-lg-4 col-xl-3 d-flex flex-wrap align-items-center" style="width: 25rem;">
			<img style="width: 10rem;" src="{{ asset("images/equipe/") ~ equipe.imageName }}" class="card-img-top photo" alt="...">
			<div class="card-body text-center">
				<h5 class="card-title text-center fw-bold">{{ equipe.nom}}</h5>
				<p class="card-text fw-semibold">{{ equipe.poste}}</p>
				<div class="card-text formation">{{ equipe.titre|raw}}</div>
			</div>
		</div>

	{% endfor %}
</div>

<h2 class="text-center my-5 marge-mobile">{{ laTeam.titre3 }}</h2>

<div class="my-5 text-center lh-1 marge-mobile">
	{{ laTeam.presentation2|raw}}
</div>
<div>
	<img style="width:100%;" class="img-fluid " src="{{ asset ('images/team/') ~ laTeam.imageName4}}">
</div>

</main>
{% endblock %}
