{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!
{% endblock %}

{% block body %}

	{{ laTeam.titre }}

	<div class= "row my-5 justify-content-center mx-auto">

	{% for equipe in laTeam.equipe %}


		<div class="card col-12 col-md-3 col-lg-4 col-xl-3 d-flex flex-wrap align-items-center" style="width: 25rem;">
			<img style="width: 10rem;" src="{{ asset("images/equipe/") ~ equipe.imageName }}" class="card-img-top" alt="...">

			<div class="card-body text-center">

				<h5 class="card-title text-center">{{ equipe.nom}}</h5>
				<p class="card-text">{{ equipe.poste}}</p>
				<p class="card-text">{{ equipe.titre}}</p>
			</div>
		</div>
    

	{% endfor %}
	</div>

{% endblock %}
