{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container row">
<div class="col-md-4"></div>
<form class="col-md-5"style="" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="my-3">
            Vous êtes connectez en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 my-5 font-weight-normal text-center">CONNEXION ADMINISTRATION</h1>
    <label for="inputUsername">Utilisateur</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control my-3" autocomplete="username" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control my-3" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="checkbox">
            <label class="my-2">
                <input type="checkbox" class="me-2" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

    <button class="btn btn-primary mt-3" type="submit">
        Connexion
    </button>

</form>
</div>
{% endblock %}
