{% extends 'base.html.twig' %}

{% block title %}Titres RNCP{% endblock %}

{% block body %}
<main class="container">
    <div class="row">
        {% for rncp in rncps %}
            <h2 class="text-center titre-page fs-4 my-5">{{ rncp.titre }}</h2>
            <div class="col-md-4 ">
                <img class="img-fluid img-rncp my-3" src="{{ asset ('images/rncp/') ~ rncp.imageName }}">
            </div>
                <div class="col-md-8 diplome">
                    <h6>{{ rncp.formation }}</h6>
                    <div class="col">{{ rncp.niveau }}</div>
                    <div class="fw-bold py-3">{{ rncp.descriptif }}</div>
                    <div class="lh-2 w-75">{{ rncp.texte|raw }}</div>                    
                </div>

                
        {% endfor %}
    </div>
</main>


{% endblock %}
