{% extends 'base.html.twig' %}

{% block title %}Titres RNCP{% endblock %}

{% block body %}
<main class="container bg-white">
    {% for rncp in rncps %}

        <h2 class="text-center titre-page fs-4 my-5">{{ rncp.titre }}</h2>

    <div class="row">
        <div class="col-12">
        
    <h6 class="">{{ rncp.formation }}</h6>
            {{ rncp.niveau }}
            <div class="fw-bold py-3">{{ rncp.descriptif }}</div>
            <div class="lh-1">{{ rncp.texte|raw }}</div>
            <img class="img-fluid" src="{{ asset ('images/rncp/') ~ rncp.imageName }}">
        </div>    
    </div>

    {% endfor %}
</main>


{% endblock %}
