{% extends 'base-backend.html.twig' %}

{% block title %}Nos Actus {% endblock %}

{% block body %}
    <h1 class="text-center">Nos Actus </h1>

    <a href="{{ path('app_admin_nos_actus_new') }}" class="btn btn-dark my-3">Nouveau</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>ImageName</th>
                <th>Description</th>
                <th>Commentaire</th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nos_actu in nos_actuses %}
            <tr>
                <td>{{ nos_actu.id }}</td>
                <td>{{ nos_actu.titre }}</td>
                <td>{% if nos_actu.imageName is defined and nos_actu.imageName is not null %}
                    <img class="img-list"style="width:20rem;" src="{{ asset('images/nosActus/' ~ nos_actu.imageName) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
                <td>{{ nos_actu.description }}</td>
                <td>{{ nos_actu.commentaire }}</td>
                
                <td>
                    <a href="{{ path('app_admin_nos_actus_show', {'id': nos_actu.id}) }}"title="Voir" class="btn btn-dark">
                <i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_nos_actus_edit', {'id': nos_actu.id}) }}"itle="Modifier" class="btn btn-success ms-2">
                <i class="align-middle" data-feather="edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune Actus trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
