{% extends 'base-backend.html.twig' %}

{% block title %}Nos Actus{% endblock %}

{% block body %}
<a href="{{ path('app_admin_nos_actus_index') }}"class="btn btn-dark my-3">Retour à la liste</a>
    <h1>Nos Actus</h1>

    <div class="d-flex justify-content-end align-items-end">
        {{ include('admin_nos_actus/_delete_form.html.twig') }}
        <a href="{{ path('app_admin_nos_actus_edit', {'id': nos_actu.id}) }}"title="Modifier" class="btn btn-success ms-2">
            <i class="align-middle" data-feather="edit"></i>
        </a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nos_actu.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ nos_actu.titre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{% if nos_actu.imageName is defined and nos_actu.imageName is not null %}
                    <img class="img-list"style="width:20rem;" src="{{ asset('images/nosActus/' ~ nos_actu.imageName) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ nos_actu.description }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ nos_actu.commentaire }}</td>
            </tr>
            
        </tbody>
    </table>


{% endblock %}
