{% extends 'base-backend.html.twig' %}

{% block title %}NosActus{% endblock %}

{% block body %}
    <h1>NosActus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nos_actu.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ nos_actu.titre }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ nos_actu.imageName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ nos_actu.description }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ nos_actu.commentaire }}</td>
            </tr>
            <tr>
            <th>Slug</th>
            <td>{{ nos_actu.slug }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_nos_actus_index') }}">back to list</a>

    <a href="{{ path('app_admin_nos_actus_edit', {'id': nos_actu.id}) }}">edit</a>

    {{ include('admin_nos_actus/_delete_form.html.twig') }}
{% endblock %}
