{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/nosActus.css')}}">
{% endblock %}

{% block title %}SR3GROUPE - Accueil{% endblock %}


{% block body %}

<main>

        <h2>{{nos_actuses.titre }}</h2>
    
        <div>
        <img src="{{ asset("images/nosActus/" ~ nos_actuses.imageName) }}" alt="" class="presentation">
    </div>

        <h2>{{nos_actuses.description }}</h2>
    


<div class="row">
    {% for newletter in nos_actuses.newletters %}
    <div class="card col-12 col-md-3 col-lg-3d-flex flex-wrap" id="newl">
    <div class="aling-self-end">
        <img src="{{ asset('images/newletter/') ~ newletter.imageName}}" alt="{{newletter.titre}}" class="img-fluid">
        <p>{{newletter.titre}}</p>
            <p>{{newletter.text}}</p>
        <a href="" class="btn btn-dark my-4">Voir le detail</a>
    </div>
    </div>
    {% endfor %}
</div>


</main>



{% endblock %}
