{% extends 'base.html.twig' %}

{% block tittle %} {#{{ categorie.nom }} #} {% endblock %} 

{% block body %}
<main class="container bg-white shadow">
<h2>{{nos_actuses.titre }}</h2> 
<div class="row">
{% for newletter in nos_actuses.newletters %}
<div class="col-12 col-md-4 col-lg-3 d-flex flex-wrap">
<h2>{{newletter.titre}} </h2> 
    <div class="align-self-end">
    <img src="  {{ asset('images/newletter/' ~ newletter.imageName) }}" alt="{{newletter.titre}}" class="img-fluid">
    <a href="  {{ path('app_nos_actus_show_newletter',{'slug': nos_actus.slug, 'id': newletter.id})}}" class="btn btn-dark my-4">Voir le detail</a>

<a href="    {# {{ path('add_favoris',{'id': livre.id })}}  #}" class="btn btn-warning"> Ajouteraux favoris</a>

</div>
</div>
{% endfor %}
</div>
</main>
{% endblock %}