{% extends 'base.html.twig' %}

{% block title %}Nos Formations{% endblock %}

{% block body %}

{% for formation in formations %}

<div class="row text-bg-white">
    <img class="" src="{{ asset ('images/formation/') ~ formation.imageName }}">
    <div class="card-img-overlay text-center text-white text1">
        <div class="d-none d-sm-block d-sm-none d-md-block">
            {{ formation.texte1|raw }}
        </div>    
        <div class="ms-3 d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-none d-xxl-block ">Une équipe de formateurs adaptée à vos besoins dans le domaine de la formation, de l’information et de la bureautique</div>
    </div>
</div>

<main class="container">
    <div class="text-center container row py-5">
        <div class="col">
            <img class="img-fluid pe-5" src="{{ asset ('images/formation/') ~ formation.imageName2}}">
            <img class="img-fluid pe-5" src="{{ asset ('images/formation/') ~ formation.imageName3}}">
            <img class="img-fluid pe-5" src="{{ asset ('images/formation/') ~ formation.imageName4}}">
            <img class="img-fluid pe-5" src="{{ asset ('images/formation/') ~ formation.imageName5}}">
            <img class="img-fluid pe-2" src="{{ asset ('images/formation/') ~ formation.imageName6}}">
            <img class="img-fluid pe-2" src="{{ asset ('images/formation/') ~ formation.imageName7}}">
        </div>
        <div class="">
            <div class="col-lg-8 py-5">
                {{ formation.titre|raw }}
            </div>
        </div>
</div>






{% endfor %}
</main>
{% endblock %}
