{% extends 'base.html.twig' %}

{% block title %}Nos Formations{% endblock %}

{% block body %}
{% for formation in formations %}
<main class="container-fluid">
    <div class="row"></div>
    <div class="card">
        <img class="img-fluid m-0 p-0" src="{{ asset ('images/formation/') ~ formation.imageName }}">    
        <div class="card-img-overlay text-center text-white">
            <div class="d-none d-sm-block d-sm-none d-md-block">
            {{ formation.texte1|raw }}
            </div>
            <div class="d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-none d-xxl-block text-center formation-text1">Une équipe de formateurs adaptée à vos besoins dans le domaine de la formation, de l’information et de la bureautique</div>
            </div>
        </div>
    </div>
    <div class="row d-flex flex-wrap text-center my-3 formation">
        <div class="col-5 col-sm-8 col-md-12 pb-3 img-form-order">
            <img class="img-fluid img-form" style="width:4rem;" src="{{ asset ('images/formation/') ~ formation.imageName2}}">
            <img class="img-fluid img-form" style="width:4rem;" src="{{ asset ('images/formation/') ~ formation.imageName3}}">
            <img class="img-fluid img-form" style="width:4rem;" src="{{ asset ('images/formation/') ~ formation.imageName4}}">
            <img class="img-fluid img-form" style="width:4rem;" src="{{ asset ('images/formation/') ~ formation.imageName5}}">
            <img class="img-fluid img-form" style="width:4rem;" src="{{ asset ('images/formation/') ~ formation.imageName6}}">
            <img class="img-fluid img-form" style="width:4rem;" src="{{ asset ('images/formation/') ~ formation.imageName7}}">
        </div>
        <div class="col-7 col-sm-4 col-md-12 align-self-center formation-titre">{{ formation.titre|raw }}</div>           
    </div>    
        
    <div class="row card d-none d-sm-block d-sm-none d-md-block">
        <img class="img-fluid" src="{{ asset ('images/formation/') ~ formation.imageName8}}">
        <div class="card-body card-img-overlay">
            <div class="text-white text2">
                {{ formation.texte2|raw }}
            </div>    
        </div>
    </div>
    <h4 class="text-center pt-3 d-none d-sm-block d-sm-none d-md-block">{{ formation.titre2|raw }}</h4>
    <h4 class="d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-none d-xxl-block text-center formation-text1-1">NOS COMPETENCES</h4>

{# SECTION COMPETENCE EN MODE DESKTOP #}
    <div class="row my-5 justify-content-center cours mx-auto d-none d-sm-block d-sm-none d-md-flex">
        {% for cours in formation.cours %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex flex-wrap mb-3 border rounded border-3 border-danger me-5" style="width: 12rem;">
            <div class="card align-items-center">
                <img style="width: 3rem;" class="pt-2 " src="{{ asset ('images/formation/') ~ cours.imageName}}">
                <div class="card-body flex-wrap justify-content-center">
                    <h6 class="text-center" style="height: 39px;" >{{cours.nom|raw}}</h6>
                    <div class="mb-5 text-center">{{cours.theme|raw}}</div>
                </div>
            </div> 
        </div>
        {% endfor %}
    </div>
    




{# SECTION COMPETENCE EN MODE MOBILE #}
    <div class="row m-2 mt-4 d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-none d-xxl-block">
        {% for cours in formation.cours %}
            <div class="col-12 d-flex justify-content-between align-items-center">
                <img style="max-width: 3rem;" class="img-fluid" src="{{ asset ('images/formation/') ~ cours.imageName}}">
                <h6 class="fw-light text-center formation-mobile" >{{cours.nom|raw}} </h6>
            <a class="nav-link" href="{{ path('app_cours_show', {'id': cours.id}) }}"><img style="width: 1.2rem;" src="images/formation/down.png"></a>          
            </div>
        <hr class="color-dark">
        {% endfor %}
    </div>
    
    <div class="row carre">
        <div class="col text-center py-3 text-white">{{ formation.texte3|raw }}</div>
        
    </div>

    <div class="col text-center my-3">
    <button type="button" class="btn btn-danger">
        <a class="nav-link " href="{{ path('app_front_rncp')}}">En savoir plus</a>
    </button>
</div>
    {% endfor %}
</main>


{% endblock %}




