{% extends 'base-backend.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}

<a href="{{ path('app_admin_equipe_new') }}" class="btn btn-dark">Nouveau</a>
    <h1 class="text-center">Equipe</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Poste</th>
                <th>Formations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.id }}</td>
                <td>{% if equipe.imageName is defined and equipe.imageName is not null %}
                    <img src="{{ asset('images/equipe/' ~ equipe.imageName) }}" alt="" class="img-list">
                </a>
                {% else %}
                N/A                               
            {% endif %}</td>
                <td>{{ equipe.nom }}</td>
                <td>{{ equipe.poste }}</td>
                <td>{{ equipe.titre|raw }}</td>
                {# <td>{{ equipe.updatedAt ? equipe.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_admin_equipe_show', {'id': equipe.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_equipe_edit', {'id': equipe.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
{% block javascripts %}
<script>

    $(".select2").select2();
</script>
{% endblock %}