{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>ImageName</th>
                <th>Presentation</th>
                <th>ImageName2</th>
                <th>ImageName3</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Titre2</th>
                <th>Poste</th>
                <th>UpdatedAt</th>
                <th>Titre3</th>
                <th>Presentation2</th>
                <th>ImageName4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.titre }}</td>
                <td>{{ team.imageName }}</td>
                <td>{{ team.presentation }}</td>
                <td>{{ team.imageName2 }}</td>
                <td>{{ team.imageName3 }}</td>
                <td>{{ team.photo }}</td>
                <td>{{ team.nom }}</td>
                <td>{{ team.titre2 }}</td>
                <td>{{ team.poste }}</td>
                <td>{{ team.UpdatedAt ? team.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team.titre3 }}</td>
                <td>{{ team.presentation2 }}</td>
                <td>{{ team.imageName4 }}</td>
                <td>
                    <a href="{{ path('app_admin_team_show', {'id': team.id}) }}">show</a>
                    <a href="{{ path('app_admin_team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_team_new') }}">Create new</a>
{% endblock %}
