{% extends 'base-backend.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_cours_index') }}"class="btn btn-dark my-3">Retour à la liste</a>

    <h1>Cours</h1>

    <div class="d-flex justify-content-end align-items-end">   
        {{ include('admin_cours/_delete_form.html.twig') }}
        <a href="{{ path('app_admin_cours_edit', {'id': cour.id}) }}"title="Modifier" class="btn btn-success ms-2">
            <i class="align-middle" data-feather="edit"></i>
        </a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Icône</th>
                <td>
                    {% if cours.ImageName is defined and cours.ImageName is not null %}
                        <img class="img-fluid" src="{{ asset('images/formation/' ~ cour.ImageName) }}"> 
                    {% else %}
                        N/A                    
                    {% endif %}
                </td>
            </tr>
            
            <tr>
                <th>Catégorie</th>
                <td>{{ cour.nom }}</td>
            </tr>
            <tr>
                <th>Cours</th>
                <td>{{ cour.theme|raw }}</td>
            </tr>
            <tr>
                <th>Mise à jour</th>
            <td>{{ cour.updatedAt ? cour.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>


{% endblock %}
