{% extends 'base-backend.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
            <th>UpdatedAt</th>
            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

<a href="{{ path('app_admin_user_index') }}">back to list</a>

<a href="{{ path('app_admin_user_edit', {'id': editeur.id}) }}" class="btn btn-success ms-2"><i class="align-middle" data-feather="edit-2"></i></a>

{{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
<script>

$(".select2").select2();
</script>
{% endblock %}
