{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="bg-white p-5 contact-form">
    <div class="form-group">
{{ form_start(contact) }}
    {{ form_row(contact.nom, {'attr': {'class': 'form-control'}}) }}


</div>
<div class="form-group">
    {{ form_row(contact.email, {'attr': {'class': 'form-control'}}) }}
</div>
{# <div class="form-group">
    {{ form_row(contact.sujet, {'attr': {'class': 'form-control'}}) }}

</div> #}
<div class="form-group">
    {{ form_row(contact.message, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group">
    <input type="submit" value="Send" class="btn btn-primary py-3 px-5">
</div>
{{ form_end(contact) }}
</div>

</div>
{% endblock %}
