<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>    
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/backend.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}    
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html"><span class="align-middle">SR3 GROUPE Dashboard</span></a>

                <ul class="sidebar-nav">						
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path ('app_accueil')}}" target="_blanck" >
                            <i class="align-middle" data-feather="globe"></i>
                            <span class="align-middle">
                                Voir le site
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link"  href="{{ path('app_admin_dashboard') }}">
                            <i class="align-middle" data-feather="sliders"></i>
                            <span class="align-middle">
                                Dashboard
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('app_admin_accueil_index') }}">
                            <i class="align-middle" data-feather="home"></i>
                            <span class="align-middle">
                                Accueil
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('app_admin_team_index') }}">
                            <i class="align-middle" data-feather="home"></i>
                            <span class="align-middle">
                                Qui sommes nous ?
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('app_admin_formation_index') }}">
                            <i class="align-middle" data-feather="home"></i>
                            <span class="align-middle">
                                Formations
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('app_admin_rncp_index') }}">
                            <i class="align-middle" data-feather="home"></i>
                            <span class="align-middle">
                                Titres RNCP
                            </span>
                        </a>
                    </li>
                     <li class="sidebar-item">
                    <a class="sidebar-link" href="{{ path('app_admin_nos_actus_index') }}">
                        <i class="align-middle" data-feather="home"></i>
                        <span class="align-middle">
                            Nos Actus
                        </span>
                    </a>
                </li>
                </ul>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <span class="text-dark">Administrateur</span>
                            </a>   
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
            <div class="container-fluid p-0">
    {% block body %}{% endblock %}
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
