{% extends 'base-backend.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1 class="text-center">Page Formation</h1>

<a href="{{ path('app_admin_formation_new') }}" class="btn btn-dark my-3">Nouveau</a>
<table class="table">
    <tbody>
    
    {% for formation in formations %}


    <tr>
        <th scope="row">Id</th>
        <td>{{ formation.id }}</td>
    </tr>
    <tr>
        <th scope="row">Photo Entête</th>
        <td>
            {% if formation.imageName is defined and formation.imageName is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    <tr>
        <th scope="row">Titre de la page</th> 
        <td>{{ formation.Texte1|raw }}</td>
    </tr>
    <tr>
        <th scope="row">Logo 1 :</th> 
        <td>
            {% if formation.imageName2 is defined and formation.imageName2 is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName2) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Logo 2 :</th> 
        <td>
            {% if formation.imageName3 is defined and formation.imageName3 is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName3) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Logo 3 :</th> 
        <td>
            {% if formation.imageName4 is defined and formation.imageName4 is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName4) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Logo 4 :</th> 
        <td>
            {% if formation.imageName5 is defined and formation.imageName5 is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName5) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Logo 5 :</th> 
        <td>
            {% if formation.imageName6 is defined and formation.imageName6 is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName6) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Logo 6 :</th> 
        <td>
            {% if formation.imageName7 is defined and formation.imageName7 is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName7) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    </tr>

    <tr>
        <th scope="row">Texte de la page</th> 
        <td>{{ formation.Titre|raw }}</td>
    </tr> 
    <tr>
        <th scope="row">Photo Milieu de page :</th> 
        <td>
            {% if formation.imageName8 is defined and formation.imageName8 is not null %}
                <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName8) }}"> 
            {% else %}
                N/A                    
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Texte de la photo</th> 
        <td>{{ formation.Texte2|raw }}</td>
    </tr>  
    <tr>
        <th scope="row">Titre 2 :</th> 
        <td>{{ formation.Titre2|raw }}</td>
    </tr>
    <tr>
        <th scope="row">Texte Pied de page</th> 
        <td>{{ formation.Texte3|raw }}</td>
    </tr>
    <td>
        <a href="{{ path('app_admin_formation_show', {'id': formation.id}) }}"title="Voir" class="btn btn-dark ms-2">
            <i class="align-middle" data-feather="eye"></i></a>
        <a href="{{ path('app_admin_formation_edit', {'id': formation.id}) }}"title="Modifier" class="btn btn-success my-2">
            <i class="align-middle" data-feather="edit"></i>
        </a>
    </td>
    {% else %}
        <tr>
            <td colspan="7">Aucune Page trouvée</td>
        </tr>
    {% endfor %}
</tbody>
</table>

    

{% endblock %}
