{% extends 'base-backend.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_formation_index') }}"class="btn btn-dark my-3">Retour à la liste</a>
    <h1 class="text-center">Formation</h1>


        <div class="d-flex justify-content-end align-items-end">   
        {{ include('admin_formation/_delete_form.html.twig') }}
        <a href="{{ path('app_admin_formation_edit', {'id': formation.id}) }}"title="Modifier" class="btn btn-success ms-2">
            <i class="align-middle" data-feather="edit"></i>
        </a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Photo Entête</th>
                <td>{% if formation.imageName is defined and formation.imageName is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt</th>
                <td>{{ formation.updatedAt ? formation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Titre page</th>
                <td>{{ formation.texte1|raw }}</td>
            </tr>
            <tr>
                <th>Logo 1</th>
                <td>{% if formation.imageName2 is defined and formation.imageName2 is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName2) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt2</th>
                <td>{{ formation.updatedAt2 ? formation.updatedAt2|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Logo 2</th>
                <td>{% if formation.imageName3 is defined and formation.imageName3 is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName3) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt3</th>
                <td>{{ formation.updatedAt3 ? formation.updatedAt3|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Logo 3</th>
                <td>{% if formation.imageName4 is defined and formation.imageName4 is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName4) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt4</th>
                <td>{{ formation.updatedAt4 ? formation.updatedAt4|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Logo 4</th>
                <td>{% if formation.imageName5 is defined and formation.imageName5 is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName5) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt5</th>
                <td>{{ formation.updatedAt5 ? formation.updatedAt5|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Logo 5</th>
                <td>{% if formation.imageName6 is defined and formation.imageName6 is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName6) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt6</th>
                <td>{{ formation.updatedAt6 ? formation.updatedAt6|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Logo 6</th>
                <td>{% if formation.imageName7 is defined and formation.imageName7 is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName7) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt7</th>
                <td>{{ formation.updatedAt7 ? formation.updatedAt7|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Texte page</th>
                <td>{{ formation.titre|raw }}</td>
            </tr>
            <tr>
                <th>Photo du milieu</th>
                <td>{% if formation.imageName8 is defined and formation.imageName8 is not null %}
                    <img class="img-list" src="{{ asset('images/formation/' ~ formation.imageName8) }}"> 
                {% else %}
                    N/A                    
                {% endif %}</td>
            </tr>
            {# <tr>
                <th>UpdatedAt8</th>
                <td>{{ formation.updatedAt8 ? formation.updatedAt8|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Texte photo</th>
                <td>{{ formation.texte2|raw }}</td>
            </tr>
            <tr>
                <th>Titre 2</th>
                <td>{{ formation.titre2|raw }}</td>
            </tr>
            {# <tr>
                <th>ImageName9</th>
                <td>{{ formation.imageName9 }}</td>
            </tr>
            <tr>
                <th>UpdatedAt9</th>
                <td>{{ formation.updatedAt9 ? formation.updatedAt9|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            
            <tr>
                <th>Texte pied de page</th>
                <td>{{ formation.texte3|raw }}</td>
            </tr>
        </tbody>
    </table>

    


{% endblock %}
